<div class="card custom-card" style="min-height: 314px;">
  <div class="top-left"></div>
  <div class="top-right"></div>
  <div class="bottom-left"></div>
  <div class="bottom-right"></div>
  <div class="card-header justify-content-between">
     <div class="card-title"> DG Status </div>
     <a href="javascript:void(0);" *ngIf="!loading" class="badge bg-primary-transparent border border-primary border-opacity-10 rounded-0" (click)="ShowModal()">View All</a>

     <div class="text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

  </div>  
  <div class="card-body">
    <div id="dg_status"></div>
 </div>
</div>


<div class="modal fade" style="backdrop-filter: blur(10px);" id="exampleModalFullscreenXx1" tabindex="-1" aria-labelledby="exampleModalFullscreenXx1Label" aria-hidden="true" [ngClass]="{'show d-block': showModal}">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DG Details</h5>
        <div class="btnholder">
          <button 
            class="btn rounded-pill btn-wave"
            [ngClass]="{'btn-primary': currentType === '15min', 'btn-secondary-gradient': currentType !== '15min'}"
            (click)="fetchDataByType('15min')">
            15 Min Data
          </button>
        
          <button 
            class="btn rounded-pill btn-wave"
            [ngClass]="{'btn-primary': currentType === '30min', 'btn-secondary-gradient': currentType !== '30min'}"
            (click)="fetchDataByType('30min')">
            30 Min Data
          </button>
        
          <button 
            class="btn rounded-pill btn-wave"
            [ngClass]="{'btn-primary': currentType === '60min', 'btn-secondary-gradient': currentType !== '60min'}"
            (click)="fetchDataByType('60min')">
            60 Min Data
          </button>
          <button 
          class="btn rounded-pill btn-wave"
          [ngClass]="{'btn-primary': currentType === '>60min', 'btn-secondary-gradient': currentType !== '>60min'}"
          (click)="fetchDataByType('>60min')">
          > 60 Min Data
        </button>
        </div>
        
        <button style="font-size: 20px;" type="button" class="btn-close" aria-label="Close" (click)="hideModal()"></button>
      </div>
      <div class="overlay">
        <div class="modal-body">
          <div id="myGridAll" style="width: 100%; height: 560px;" class="ag-theme-quartz"></div>
        </div>
      </div>
    </div>
  </div>
</div>
