<div class="card custom-card" style="min-height: 306px;">
  <div class="top-left"></div>
  <div class="top-right"></div>
  <div class="bottom-left"></div>
  <div class="bottom-right"></div>
  <div class="card-header justify-content-between">
  <div class="card-title">
      Recharge Status {{this.activechart}}
      <button *ngIf="!isSmallScreen" type="button" class="btn btn-outline-success btn-wave offline" (click)="showChart('grid')">Grid</button>
      <button *ngIf="!isSmallScreen" type="button" class="btn btn-outline-danger btn-wave offline" (click)="showChart('dg')">DG</button>
    </div>
    <div class="drop" *ngIf="!loading && isSmallScreen">
      <a aria-label="anchor" href="javascript:void(0);"  class="op-4 consumptiondrop"  aria-expanded="false" (click)="toggle()">
        <i class="bi bi-grid text-primary"></i></a>
      <div class="dropdown consumptiondrop">
           <ul class="dropdown-menu" [class.show]="show" role="menu">
          <li (click)="showChart('grid')" ><a class="dropdown-item" href="javascript:void(0);">Grid Amount</a></li>
          <li (click)="showChart('dg')" ><a class="dropdown-item" href="javascript:void(0);">DG Amount</a></li>
        </ul> 
      </div>
    </div>
    <div class="text-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    </div>
    </div>
    <div class="card-body">
      <div id="recharge-chart" *ngIf="activechart === 'grid'"></div>
      <div id="recharge_chartdg" *ngIf="activechart ==='dg'" ></div>
  </div>
  </div>