.btn{
	margin-left: 10px;
	position: relative;
}.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active,
.btn-check + .btn.btn-outline-primary:hover {
  color: #000 !important;
  background-color: rgb(var(--primary-rgb)) !important;
  border-color: rgb(var(--primary-rgb)) !important;
}
.btn-check:checked + .btn-outline-primary:focus {
  box-shadow: 0 0.25rem 1rem rgba(var(--primary-color), 0.5);
}
.btn-check:focus + .btn.btn-outline-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: none;
}
.btn-outline-success{
  --bs-btn-color: #00ff89 !important;
  --bs-btn-border-color: #07ff8c !important;
}
.btn-outline-danger{
  --bs-btn-color:#ff0018 !important;
  --bs-btn-border-color:#ff0018 !important;
  font-weight: 800;
}
.label{
  font-size: small;
}
.btn-outline-primary {
  color: rgb(var(--primary-rgb));
  border-color: rgb(var(--primary-rgb));
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: #000;
  background-color: rgb(var(--primary-rgb));
  border-color: rgb(var(--primary-rgb));
}
.btn-outline-primary:focus {
  color: #000;
  background-color: rgb(var(--primary-rgb));
  border-color: rgb(var(--primary-rgb));
  box-shadow: none;
}
.btn-outline-primary:focus:active {
  box-shadow: none;
}

#recharge-chart,
#recharge_chartdg{
  height: 96%;
  position: relative;
}
.card.custom-card {
  height: 29vh !important;
}

.consumptiondrop{
  position: relative;
 }
.card-body{
  position: relative;
  overflow-x:auto ;
}
@media (max-width:500px) {
  #recharge-chart,
#recharge_chartdg{
min-width: 500px;}
}

.dropdown-menu {
border-color: var(--default-border);
box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
font-size: 0.875rem;
color: rgb(var(--default-text-color-rgb));
background-color: var(--theme-bg-gradient);
padding: 0;
border-radius: 0;
overflow: hidden;
animation-duration: 0.2s;
-webkit-animation-duration: 0.2s;
animation-fill-mode: both;
-webkit-animation-fill-mode: both;
animation-name: slideIn;
z-index: 10;
}

.dropdown.consumptiondrop{
position: absolute;
right: 190px;
top: 46px;    
}

.text-primary{
  color: var(--primary-color) !important;
  opacity: 1;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}