.table{
    --bs-table-bg: rgba(0, 0, 0, 0.1);
}
.table > :not(caption) > * > * {
    color:white !important
}
@media (min-width: 1200px) {
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}
.la-check{
    color: rgb(13, 255, 0);
    font-size: 20px;
  }
  .la-times{
    color: rgb(255, 60, 0);
    font-size: 20px;
  }
  .d-block{
    color: var(--primary-color);
  }


@media (max-width:500px) {
  .fs-15{
    font-size: 9px;
  }
  .fs-20{
    font-size: 12px;
  }
  h6,.fs-18{
    font-size: 14px;
  }
}
.colorchange{
  color: var(--primary-color) !important;
}